.login-container {
  width: 100%;
  height: 100vh;
  padding: 0px 20px;
  background-image: url("../img/back-restaurant2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.login-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
}
.login-container > form {
  position: relative;
  z-index: 2000;
  width: 100%;
  max-width: 500px;
  padding: 60px 40px;
  background: #fff;
  justify-content: center;
  gap: 15px;
}
form > .title-form {
  text-align: center;
}
form .box-input-date {
  width: 100%;
  height: 40px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.box-input-date > .box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  min-width: 50px;
  height: 100%;
}
.box-input-date > input {
  background: transparent;
  border: 1px solid #eee;
  font-size: 14px;
  height: 100%;
}
form > .btn-form-submit {
  background-color: #000;
  color: #fff;
  margin-top: 10px;
  border-radius: 4px;
}
